<html>
    <body>
        <p>New Lead from STAXCryo</p>
        <br />
        <ul>
            <li>
                Name: <strong>{{ data.name }}</strong>
            </li>
            <li>
                Email: <strong>{{ data.email }}</strong>
            </li>
            <li>
                Subject: <strong>{{ data.subject }}</strong>
            </li>
            <li>
                Message: <strong>{{ data.message }}</strong>
            </li>
        </ul>
    </body>
</html>