<section class="section-50 section-md-bottom-95">
    <div class="shell">
        <div class="range range-xs-center offset-top-50">
            <div class="cell-sm-18 cell-md-9 reveal-md-flex flex-direction-column text-center">
                <hr class="offset-top-90">
                <h4 class="jo-callus">
                    Call us at STAXCryo and book your first appointment today:
                </h4>
                <a href="tel:980-237-8158" 
                   class="h3 reveal-block offset-xs-top-8">
                    980-237-8158
                </a>
            <hr>
        </div>
    </div>
  </div>
</section>