<section class="hero" 
         style="background-image:url('/images/treatments.jpg'); height:750px;">
    <div class="swiper-slide">
        <div class="swiper-slide-caption">
            <div class="shell section-25">
                <h1 class="text-primary text-dark jo">FULL BODY CRYOTHERAPY</h1>
                <h4 class="text-gray-light text-regular small jo">
                    An innovative and quick full-body session exposing the body to extreme temperatures 
                    of -240°F to -300°F in order to promote the multiple benefits of Cryotherapy which include 
                    natural health, fitness, weight loss, recovery, as well as beauty although results may vary 
                    based on the individual. CRYOtherapy works naturally with your body’s own physiology and 
                    can be a great addition to a daily or weekly routine.
                </h4>
            </div>
        </div>
    </div>
</section>