<section class="section-50 section-md-bottom-95">
    <div class="shell">
        <div class="range range-xs-center text-center">
            <div class="cell-sm-10 cell-md-12">
                <h3>Member Pricing</h3>
                <div class="pricing-box reveal-md-flex offset-top-50">
                    <div class="picing-box-item bg-alabaster text-center offset-xs-top-50 ">
                        <h4>
                            Cryo <br />Base 2
                        </h4>
                        <h3 class="reveal-inline-block text-primary">
                            $69
                        </h3>
                        <br />
                        <span class="reveal-inline-block text-gray-lighter text-italic"> Per Month</span>
                        <br />&nbsp;
                        <hr class="divider">
                        <p>2 Sessions <br />Per Month</p>
                        <a href="https://www.secure-booker.com/StaxCryo/ShopOnline/Membership.aspx" 
                           class="btn btn-primary reveal-md-block"
                           target="_blank">Book Now!</a>
                    </div>
            <div class="offset-xs-top-50 hidden-sm hidden-md hidden-lg">
                &nbsp;
            </div>
            <div class="picing-box-item bg-alabaster text-center offset-xs-top-50">
                <h4>Cryo <br />Plus Daily</h4>
              <h3 class="reveal-inline-block text-primary">$299</h3><br /><span class="reveal-inline-block text-gray-lighter text-italic"> Per Month</span><br />&nbsp;
              <hr class="divider">
              <p>1 Session <br />Per Day</p><a href="https://www.secure-booker.com/StaxCryo/ShopOnline/Membership.aspx" 
                                               class="btn btn-primary reveal-md-block"
                                               target="_blank">Book Now!</a>
            </div>
            <div class="offset-xs-top-50 hidden-sm hidden-md hidden-lg">
                &nbsp;
            </div>
            <div class="picing-box-item bg-alabaster text-center offset-xs-top-50">
                <h4>Stax <br />Membership</h4>
                <h3 class="reveal-inline-block text-primary">$199</h3><br /><span class="reveal-inline-block text-gray-lighter text-italic"> Unlimited Stax Membership</span>
              <hr class="divider">
              <p>2 Sessions <br />Per Month</p><a href="https://www.secure-booker.com/StaxCryo/ShopOnline/Membership.aspx" 
                                                  class="btn btn-primary reveal-md-block"
                                                  target="_blank">Book Now!</a>
            </div>
            <div class="offset-xs-top-50 hidden-sm hidden-md hidden-lg">
                &nbsp;
            </div>
            <div class="picing-box-item bg-alabaster text-center offset-xs-top-50">
                <h4>Stax <br />Plus Daily</h4>
              <h3 class="reveal-inline-block text-primary">$399</h3><br /><span class="reveal-inline-block text-gray-lighter text-italic"> Unlimited Stax Plus &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <hr class="divider">
              <p>1 Cryo Session <br />Per Day</p><a href="https://www.secure-booker.com/StaxCryo/ShopOnline/Membership.aspx" 
                                                    class="btn btn-primary reveal-md-block"
                                                    target="_blank">Book Now!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>