<section class="section-50 section-md-bottom-95">
    <div class="shell">
      <div class="range range-xs-center text-center">
        <div class="cell-sm-10 cell-md-12">
          <h3>Session Packages</h3>
          <table class="table table-hover bg-alabaster">
              <tr>
                  <th class="col-lg-2 text-center">
                      Sessions
                  </th>
                  <th class="col-lg-6 text-center">
                      Retail
                  </th>
                  <th class="col-lg-6 text-center">
                      Member Price
                  </th>
              </tr>
              <tr>
                  <td>
                      1
                  </td>
                  <td>
                      $55
                  </td>
                  <td>
                      $25
                  </td>
              </tr>
              <tr>
                  <td>
                      3X
                  </td>
                  <td>
                      $145
                  </td>
                  <td>
                      $75
                  </td>
              </tr>
              <tr>
                  <td>
                      5X
                  </td>
                  <td>
                      $200
                  </td>
                  <td>
                      $120
                  </td>
              </tr>
              <tr>
                  <td>
                      10X
                  </td>
                  <td>
                      $350
                  </td>
                  <td>
                      $222
                  </td>
              </tr>
          </table>
          <a href="https://www.secure-booker.com/StaxCryo/ShopOnline/Series.aspx" 
                   class="btn btn-primary reveal-md-block col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3"
                   target="_blank">Book Now!</a>
        </div>
      </div>
    </div>
  </section>