<section class="section-50 section-md-bottom-95">
        <div class="range range-xs-center text-center bg-primary section-50"id="pricing">
            <div class="picing-box-item bg-alabaster text-center offset-xs-top-50">
                <h3>
                    First Session
                </h3>
                <h3 class="reveal-inline-block text-primary">
                    $25
                </h3>
                <br />
                <hr class="divider">
                <p class="text-dark">First Session Special</p>
                <a href="https://go.booker.com/#/location/StaxCryo" 
                   class="btn btn-primary reveal-md-block"
                   target="_blank">Book Now!</a>
            </div>
        </div>
</section>