<section class="bg-primary section-60 section-md-80">
    <div class="shell">
        <div class="range range-xs-center range-md-middle">
            <div class="cell-sm-10 cell-md-9">
                <h3 class="text-white jo">
                    How we can help...
                </h3>
                <h4 class="text-white small jo">
                    We offer a wide range of procedures to help you get the perfect results.
                </h4>
            </div>
            <div class="cell-sm-10 cell-md-3 text-md-right offset-top-25 offset-md-top-0">
                <a href="https://go.booker.com/#/location/StaxCryo" 
                   class="btn btn-primary"
                   target="_blank">
                    Book an Appointment
                </a>
            </div>
        </div>
    </div>
</section>