<section class="section-60 section-md-top-80 section-md-bottom-85">
    <div class="shell">
        <h3 class="text-center">
            Cryo Benefits
        </h3>
        <div class="range range-xs-center text-center offset-top-30">
            <div class="cell-xs-8 cell-sm-6 cell-md-3">
                <a href="/benefits/weight-loss" 
                   class="thumbnail-custom">
                    <img src="images/photo-1.jpg" 
                         width="270" 
                         height="270" 
                         alt="Cryotherapy for Weight Loss" 
                         class="img-responsive"/>
                </a>
                <h4>
                    <a href="/benefits/weight-loss">
                        Weight Loss
                    </a>
                </h4>
            </div>
            <div class="cell-xs-8 cell-sm-6 cell-md-3 offset-top-60 offset-sm-top-0">
                <a href="/benefits/beauty-and-anti-aging" 
                   class="thumbnail-custom">
                    <img src="images/photo-2.jpg" 
                         width="270" 
                         height="270" 
                         alt="Cryotherapy for Beauty and Anti-Aging" 
                         class="img-responsive"/>
                </a>
                <h4>
                    <a href="/benefits/beauty-and-anti-aging">
                        Beauty &amp; Anti-Aging
                    </a>
                </h4>
            </div>
            <div class="cell-xs-8 cell-sm-6 cell-md-3 offset-top-60 offset-md-top-0">
                <a href="/benefits/recovery" 
                   class="thumbnail-custom">
                    <img src="images/photo-3.jpg" 
                         width="270" 
                         height="270" 
                         alt="Cryotherapy for Recovery" 
                         class="img-responsive"/>
                </a>
                <h4>
                    <a href="/benefits/recovery">
                        Recovery
                    </a>
                </h4>
            </div>
            <div class="cell-xs-8 cell-sm-6 cell-md-3 offset-top-60 offset-md-top-0">
                <a href="/benefits/wellness" 
                   class="thumbnail-custom">
                    <img src="images/photo-4.jpg" 
                         width="270" 
                         height="270" 
                         alt="Cryotherapy for Wellness" 
                         class="img-responsive"/>
                </a>
                <h4>
                    <a href="/benefits/wellness">
                        Wellness
                    </a>
                </h4>
            </div>
        </div>
        <div class="offset-top-40 text-center">
            <a href="/benefits" class="btn btn-primary">
                See all Benefits
            </a>
        </div>
    </div>
</section>