<section class="section-70 section-md-top-80 section-md-bottom-95">
    <div class="shell">
        <h3 class="text-center">
            Medical Studies
        </h3>
        <div class="range range-xs-center text-center offset-top-30 text-md-left">
            <div class="cell-md-4">
                <div class="post post-variant-1">
                    <div>
                        <div class="post-media-wrap">
                                <img src="images/studies-1.jpg" 
                                     width="370" 
                                     height="370" 
                                     alt="Cryo Medical Studies on Weight Loss" 
                                     class="img-responsive post-image"/>
                        </div>
                        <h4 class="text-bold">
                            Cryo for Weight Loss
                        </h4>
                        <ul class="list-inline list-inline-dashed text-italic">
                            <li>
                                Weight loss
                            </li>
                        </ul>
                        <p>
                            Obesity is considered to be a serious health crisis 
                            associated with different comorbidities affecting 
                            various organ systems as manifested by certain 
                            health conditions such as obstructive sleep apnea, 
                            malignancies, coronary artery disease, and 
                            metabolic problems...
                        </p>
                    </div>
                </div>
            </div>
            <div class="cell-md-4 offset-top-50 offset-md-top-0">
                <div class="post post-variant-1">
                    <div>
                        <div class="post-media-wrap">
                            <img src="images/studies-2.jpg" 
                                 width="370" 
                                 height="370" alt="Cryo Medical Studies on Wellness" 
                                 class="img-responsive post-image"/>
                        </div>
                        <h4 class="text-bold">
                                Cooled Air Wellness
                        </h4>
                        <ul class="list-inline list-inline-dashed text-italic">
                            <li>
                                Wellness
                            </li>
                        </ul>
                        <p>
                            Cold therapy is probably one of the oldest 
                            treatment modalities. Regular application of 
                            cold material on painful or inflamed parts of the 
                            body improves symptoms by alleviating pain by 
                            decreasing blood flow...
                        </p>
                    </div>
                </div>
            </div>
            <div class="cell-md-4 offset-top-50 offset-md-top-0">
                <div class="post post-variant-1">
                    <div>
                        <div class="post-media-wrap">
                            <img src="images/studies-3.jpg" 
                                 width="370" 
                                 height="370" 
                                 alt="Cryo Medical Studies on Beauty and Aging" 
                                 class="img-responsive post-image"/>
                        </div>
                        <h4 class="text-bold">
                            Cryo and Anti-Aging
                        </h4>
                        <ul class="list-inline list-inline-dashed text-italic">
                            <li>
                                Aging
                            </li>
                        </ul>
                        <p>
                            Aging is an inevitable reality that entails 
                            changes in an individual's physical appearance 
                            and overall health status. In fact, according to 
                            the Global Health Observatory (GHO) data reported 
                            by the World Health Organization (WHO)...
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="offset-top-35 text-center">
            <a href="/medical-studies" 
               class="btn btn-primary">
                See all studies
            </a>
        </div>
    </div>
</section>