<!-- Swiper-->
<section data-height="" 
         data-min-height="270px" 
         data-autoplay="5000" 
         data-dots="true" 
         class="swiper-container swiper-slider swiper-slider-home">
    <div class="swiper-wrapper">
        <div data-slide-bg="images/hero1.jpg" 
             class="swiper-slide">
            <div class="swiper-slide-caption">
                <div class="shell">
                    <svg id="hero-logo" 
                         version="1.1" 
                         xmlns="http://www.w3.org/2000/svg" 
                         xmlns:xlink="http://www.w3.org/1999/xlink" 
                         x="0px" 
                         y="0px"
                         width="506px" 
                         height="124px" 
                         viewBox="0 0 800 170" 
                         enable-background="new 0 100 800 170" 
                         xml:space="preserve">
                        <g>
                            <g>
                                <path fill="#353535" d="M90.417,63.514c-12.369-6.299-24.967-9.451-37.797-9.451c-8.525,0-15.057,1-19.588,2.996
                                           c-4.535,1.999-6.799,4.764-6.799,8.299c0,3.685,2.418,6.375,7.26,8.062c3.457,1.232,9.104,2.076,16.939,2.537
                                           c11.523,0.769,19.125,1.383,22.814,1.844c10.447,1.382,18.166,3.959,23.16,7.721c4.994,3.764,7.492,9.104,7.492,16.016
                                           c0,8.837-3.92,15.672-11.752,20.512c-7.838,4.84-19.094,7.26-33.766,7.26c-21.277,0-37.834-4.686-49.662-14.059l7.604-10.024
                                           c13.059,7.991,27.117,11.983,42.176,11.983c9.752,0,17.322-1.343,22.699-4.033c5.146-2.609,7.723-6.183,7.723-10.716
                                           c0-5.301-3.383-8.833-10.141-10.601c-3.535-0.923-13.062-1.881-28.578-2.882c-13.754-0.922-23.391-2.765-28.922-5.53
                                           c-6.455-3.227-9.68-8.643-9.68-16.248c0-7.836,3.666-14.019,11.002-18.553c7.338-4.53,17.688-6.797,31.057-6.797
                                           c17.975,0,33.031,4.109,45.168,12.33L90.417,63.514z"/>
                                <polygon fill="#353535" points="199.272,56.368 159.403,56.368 159.403,127.35 145.577,127.35 145.577,56.368 105.704,56.368 
                                           105.704,43.924 199.272,43.924 		"/>
                                <path fill="#353535" d="M290.3,127.35h-15.123l-9.613-18.668H209.37l-9.613,18.668h-15.123l44.131-83.426h17.402L290.3,127.35z
                                            M258.847,96.237l-21.248-40.421l-21.514,40.421H258.847z"/>
                                <polygon fill="#353535" points="398.067,127.35 380.085,127.35 346.388,93.615 312.886,127.35 294.935,127.35 337.472,85.092 
                                           296.415,43.924 314.407,43.924 346.528,76.387 378.593,43.924 396.544,43.924 355.499,85.017 		"/>
                            </g>
                            <g>
                                <path fill="#C6D6E3" d="M495.178,63.336c-8.444-9.397-20.702-14.165-36.501-14.165c-24.925,0-41.678,15.527-41.678,36.911
                                           c0,19.885,16.889,35.139,41.678,35.139c16.207,0,28.057-4.357,36.501-13.893l7.491,4.631c-9.397,11.986-23.699,17.57-43.992,17.57
                                           c-14.165,0-26.695-4.223-35.549-11.441c-10.215-8.308-15.526-19.477-15.526-32.96c0-13.211,5.176-24.244,15.663-32.688
                                           c8.989-7.218,21.52-11.577,35.412-11.577c19.067,0,34.73,6.946,44.537,19.34L495.178,63.336z"/>
                                <path fill="#C6D6E3" d="M597.057,127.35l-26.423-33.777H525.96v33.777h-8.853V43.587h63.877c15.936,0,26.015,9.807,26.015,25.197
                                           c0,13.892-8.717,23.018-24.517,24.652l25.334,33.913H597.057z M597.192,68.512c0-11.032-6.401-16.344-19.477-16.344H525.96v32.824
                                           h54.479C591.063,84.992,597.192,78.999,597.192,68.512z"/>
                                <path fill="#C6D6E3" d="M654.261,93.709v33.641h-8.853V93.709l-42.495-50.122h10.896l35.82,41.541l35.82-41.541h11.032
                                           L654.261,93.709z"/>
                                <path fill="#C6D6E3" d="M775.616,118.361c-8.989,7.219-21.52,11.44-35.685,11.44c-14.028,0-26.559-4.358-35.548-11.577
                                           c-10.352-8.444-15.663-19.477-15.663-32.96c0-13.211,5.312-24.38,15.799-32.824c8.989-7.354,21.656-11.713,35.412-11.713
                                           s26.423,4.358,35.412,11.713c10.487,8.444,15.936,19.613,15.936,32.824C791.279,98.748,785.967,109.916,775.616,118.361z
                                            M739.932,49.171c-24.788,0-41.677,15.663-41.677,37.182c0,20.021,16.479,34.867,41.677,34.867s41.813-14.846,41.813-35.139
                                           C781.745,64.834,764.72,49.171,739.932,49.171z"/>
                            </g>
                        </g>
                    </svg>
                    <h4 class="text-gray-light veil reveal-sm-block text-regular" 
                        style="margin-top:0px">
                        Getting fit just got cooler.
                    </h4>
                    <a href="https://go.booker.com/#/location/StaxCryo" 
                       class="btn btn-primary"
                       target="_blank">
                        Book an Appointment
                    </a>
                </div>
            </div>
        </div>
        <div data-slide-bg="images/hero2.jpg" 
             class="swiper-slide">
            <div class="swiper-slide-caption">
                <div class="shell">
                    <div class="range range-xs-center range-md-left offset-top-0">
                        <div class="cell-sm-8 cell-md-6">
                            <h4 class="text-dark text-bold">
                                Treatments are tailored specially for your needs.
                            </h4>
                            <p class="text-dark veil reveal-sm-block">
                                Get started by checking out our treatment plans.
                            </p>
                            <a href="/treatment" 
                               class="btn btn-primary">
                                View Plans
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</section>