<section class="bg-alabaster section-60 section-md-top-80 section-md-bottom-90">
    <div class="shell">
        <h3 class="text-center">
            What our patients say
        </h3>
        <div class="range range-xs-center offset-top-35">
            <div class="cell-xs-8 cell-sm-4">
                <blockquote class="quote quote-variant-1">
                    <img src="/images/test-3.png" width="116" height="116" alt="Patient quote number 3" class="img-responsive img-circle">
                    <p>
                        <q>
                            After my pregnancy, I struggled to lose the weight 
                            I had put on. I worked out regularly and ate well 
                            but needed an extra push to see a difference. The 
                            °CRYO Body treatment helped me get back in shape.
                        </q>
                    </p>
                  <div>
                    <cite class="text-extra-bold text-gray-light">
                        Sara - Mother from Dubai
                    </cite>
                    <!--<time datetime="2016-04-30" class="text-gray-lighter text-italic"> – May 10, 2016</time>-->
                  </div>
                </blockquote>
            </div>
            <div class="cell-xs-8 cell-sm-4 offset-top-60 offset-sm-top-0">
                <blockquote class="quote quote-variant-1">
                    <img src="/images/photo-2.png" width="116" height="116" alt="Patient quote number 2" class="img-responsive img-circle">
                    <p>
                        <q>
                            My orthopaedic doctor recommended cryotherapy as I 
                            suffer from Achilles tendonitis and need to work 
                            out regularly. I found that °CRYO combined with 
                            physiotherapy helped me perform at my peak.
                        </q>
                    </p>
                    <div>
                        <cite class="text-extra-bold text-gray-light">
                            Tomasso, Triathlete from Dubai
                        </cite>
                        <!--<time datetime="2016-04-30" class="text-gray-lighter text-italic"> – May 10, 2016</time>-->
                    </div>
                </blockquote>
            </div>
            <div class="cell-xs-8 cell-sm-4 offset-top-60 offset-sm-top-0">
                <blockquote class="quote quote-variant-1">
                    <img src="/images/test-3.png" width="116" height="116" alt="Patient quote number 3" class="img-responsive img-circle">
                    <p>
                        <q>
                            Your skin is glowing from the moment you walk out. 
                            My friends are constantly asking me what I'm doing 
                            and I just tell them it's the °CRYO.
                        </q>
                    </p>
                    <div>
                        <cite class="text-extra-bold text-gray-light">
                            Ashley
                        </cite>
                      <!--<time datetime="2016-04-30" class="text-gray-lighter text-italic"> – May 10, 2016</time>-->
                    </div>
                </blockquote>
            </div>
        </div>
    </div>
</section>