<section class="section-85">
    <div class="shell">
        <div class="range">
            <div class="cell-md-6">
                <img src="images/cryo-artic.jpg" 
                     width="550" 
                     height="550" 
                     alt="Cryo Full Body (WBCT) Chamber" 
                     class="img-responsive"/>
            </div>
            <div class="cell-md-6">
                <h3>CRYO ARTIC</h3>
                <h4 class="small">WHOLE BODY CRYOTHERAPY (WBCT) CHAMBER</h4>
                <div class="offset-top-30">
                    <p>When the right cryotherapy equipment is used, 
                        the science of subjecting the entire human 
                        body to extreme cold temperatures to stimulate 
                        the healing of its circutory, nervous, and 
                        energy systems is a powerful remedial technology.
                    </p>
                    <p>According to scientific and medical research, 
                        the optimum efficiency of whole body cryotherapy 
                        procedures, is achieved once the body is exposed 
                        to temperatures between -120&deg;C and 
                        -150&deg;C, reducing the skin's surface 
                        temperature to approximately 50&deg;C.
                    </p>
                    <p>These non-invasive, short, and extremely cold 
                        bursts of air projected to the human body evoke 
                        physiological reactions that prompt healing and 
                        recovery in numberous fields, including 
                        beautification treatments, sports injuries 
                        rehabilitation, and medical functions.  
                        Additionally, the controlled cold environment 
                        has been proven to trigger an analgesic reaction 
                        in the neural mind leading to positive mood 
                        states and thus acting as an antidepressant 
                        and sleep disorders repairer.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>