<section class="bg-primary section-60 section-md-top-70 section-md-bottom-60">
    <div class="shell text-center">
        <h3 class="text-center text-white">
            Why choose STAXCryo?
        </h3>
        <div class="range range-xs-center offset-top-40">
            <div class="cell-sm-6 cell-md-3">
                <div class="icon fa-book icon-circle icon-xl text-middle text-white"></div>
                <h4 class="text-white">
                    Easy Online Booking
                </h4>
                <p>
                    Book online or in person.  Sessions are short and our 
                    friendly staff are always available for you.
                </p>
            </div>
            <div class="cell-sm-6 cell-md-3 offset-top-60 offset-sm-top-0">
                <div class="icon fa-group icon-circle icon-xl text-middle text-white"></div>
                <h4 class="text-white">
                    Stay Looking Young
                </h4>
                <p>
                    You know that rest, execise, and healthy diet are keys to 
                    staying young.  Adding cryotherapy to your routine will help 
                    to attain those goals.
                </p>
            </div>
            <div class="cell-sm-6 cell-md-3 offset-top-60 offset-md-top-0">
                <div class="icon fa-clock-o icon-circle icon-xl text-middle text-white"></div>
                <h4 class="text-white">
                    Maximize Your Workout
                </h4>
                <p>
                    Cryotherapy cuts recovery times allowing you to reach your 
                    goals much quicker.
                </p>
            </div>
            <div class="cell-sm-6 cell-md-3 offset-top-60 offset-md-top-0">
                <div class="icon fa-thumbs-up icon-circle icon-xl text-middle text-white"></div>
                <h4 class="text-white">
                    Comfortable Environment 
                </h4>
                <p>
                    We will provide you with a comforatable and warm white robe, 
                    protective socks, mittens, slippers, and disposable underwear 
                    for the treatment.
                </p>
            </div>
        </div>
    </div>
</section>