<div class="footer-offset-none">
    <!-- Page Footer-->
    <footer class="page-footer footer-default text-sm-left">
        <div class="bg-cape-cod section-60 section-md-top-85 section-md-bottom-70">
            <div class="shell">
                <div class="range">
                    <div class="cell-sm-6 cell-md-3">
                        <div class="brand">
                            <a href="/" class="brand-name">
                                <svg id="header-logo" 
                                     version="1.1" 
                                     id="Layer_1" 
                                     xmlns="http://www.w3.org/2000/svg" 
                                     xmlns:xlink="http://www.w3.org/1999/xlink" 
                                     x="0px" 
                                     y="0px"
                                     width="253px" 
                                     height="40px" 
                                     viewBox="50 25 800 140" 
                                     enable-background="new 0 0 800 140" 
                                     xml:space="preserve">
                                    <g>
                                        <g>
                                            <path fill="#FFFFFF" d="M90.417,63.514c-12.369-6.299-24.967-9.451-37.797-9.451c-8.525,0-15.057,1-19.588,2.996
                                                       c-4.535,1.999-6.799,4.764-6.799,8.299c0,3.685,2.418,6.375,7.26,8.062c3.457,1.232,9.104,2.076,16.939,2.537
                                                       c11.523,0.769,19.125,1.383,22.814,1.844c10.447,1.382,18.166,3.959,23.16,7.721c4.994,3.764,7.492,9.104,7.492,16.016
                                                       c0,8.837-3.92,15.672-11.752,20.512c-7.838,4.84-19.094,7.26-33.766,7.26c-21.277,0-37.834-4.686-49.662-14.059l7.604-10.024
                                                       c13.059,7.991,27.117,11.983,42.176,11.983c9.752,0,17.322-1.343,22.699-4.033c5.146-2.609,7.723-6.183,7.723-10.716
                                                       c0-5.301-3.383-8.833-10.141-10.601c-3.535-0.923-13.062-1.881-28.578-2.882c-13.754-0.922-23.391-2.765-28.922-5.53
                                                       c-6.455-3.227-9.68-8.643-9.68-16.248c0-7.836,3.666-14.019,11.002-18.553c7.338-4.53,17.688-6.797,31.057-6.797
                                                       c17.975,0,33.031,4.109,45.168,12.33L90.417,63.514z"/>
                                            <polygon fill="#FFFFFF" points="199.272,56.368 159.403,56.368 159.403,127.35 145.577,127.35 145.577,56.368 105.704,56.368 
                                                       105.704,43.924 199.272,43.924 		"/>
                                            <path fill="#FFFFFF" d="M290.3,127.35h-15.123l-9.613-18.668H209.37l-9.613,18.668h-15.123l44.131-83.426h17.402L290.3,127.35z
                                                        M258.847,96.237l-21.248-40.421l-21.514,40.421H258.847z"/>
                                            <polygon fill="#FFFFFF" points="398.067,127.35 380.085,127.35 346.388,93.615 312.886,127.35 294.935,127.35 337.472,85.092 
                                                       296.415,43.924 314.407,43.924 346.528,76.387 378.593,43.924 396.544,43.924 355.499,85.017 		"/>
                                        </g>
                                        <g>
                                            <path fill="#C6D6E3" d="M495.178,63.336c-8.444-9.397-20.702-14.165-36.501-14.165c-24.925,0-41.678,15.527-41.678,36.911
                                                       c0,19.885,16.889,35.139,41.678,35.139c16.207,0,28.057-4.357,36.501-13.893l7.491,4.631c-9.397,11.986-23.699,17.57-43.992,17.57
                                                       c-14.165,0-26.695-4.223-35.549-11.441c-10.215-8.308-15.526-19.477-15.526-32.96c0-13.211,5.176-24.244,15.663-32.688
                                                       c8.989-7.218,21.52-11.577,35.412-11.577c19.067,0,34.73,6.946,44.537,19.34L495.178,63.336z"/>
                                            <path fill="#C6D6E3" d="M597.057,127.35l-26.423-33.777H525.96v33.777h-8.853V43.587h63.877c15.936,0,26.015,9.807,26.015,25.197
                                                       c0,13.892-8.717,23.018-24.517,24.652l25.334,33.913H597.057z M597.192,68.512c0-11.032-6.401-16.344-19.477-16.344H525.96v32.824
                                                       h54.479C591.063,84.992,597.192,78.999,597.192,68.512z"/>
                                            <path fill="#C6D6E3" d="M654.261,93.709v33.641h-8.853V93.709l-42.495-50.122h10.896l35.82,41.541l35.82-41.541h11.032
                                                       L654.261,93.709z"/>
                                            <path fill="#C6D6E3" d="M775.616,118.361c-8.989,7.219-21.52,11.44-35.685,11.44c-14.028,0-26.559-4.358-35.548-11.577
                                                       c-10.352-8.444-15.663-19.477-15.663-32.96c0-13.211,5.312-24.38,15.799-32.824c8.989-7.354,21.656-11.713,35.412-11.713
                                                       s26.423,4.358,35.412,11.713c10.487,8.444,15.936,19.613,15.936,32.824C791.279,98.748,785.967,109.916,775.616,118.361z
                                                        M739.932,49.171c-24.788,0-41.677,15.663-41.677,37.182c0,20.021,16.479,34.867,41.677,34.867s41.813-14.846,41.813-35.139
                                                       C781.745,64.834,764.72,49.171,739.932,49.171z"/>
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        </div>
                        <div class="offset-top-20">
                            <p>
                                Cryotherapy is an innovative treatment, 
                                utilizing age-old science combined with 
                                cutting-edge equipment. The many benefits of 
                                Cryotherapy can include weight loss, athletic 
                                recovery and overall wellness.
                            </p>
                        </div>
                    </div>
                    <div class="cell-sm-6 cell-md-3 offset-top-50 offset-md-top-0">
                        <h6 class="text-white">
                            Hours
                        </h6>
                        <div class="offset-top-25">
                            <div class="unit unit-xl-horizontal unit-lg-horizontal unit-md-horizontal unit-sm-horizontal">
                                <div class="unit-left">
                                    <div class="icon fa-clock-o icon-circle text-middle text-primary"></div>
                                </div>
                                <div class="unit-body">
                                    <div class="text-italic">
                                        Monday–Friday: 9am–7pm
                                        <br />
                                        <br />
                                        Sat &amp; Sun: 9am–1pm
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell-sm-6 cell-md-3 offset-top-50 offset-md-top-0">
                        <h6 class="text-white">
                            Contact Info
                        </h6>
                        <div class="offset-sm-top-25"></div>
                        <div class="unit unit-xl-horizontal unit-lg-horizontal unit-md-horizontal unit-sm-horizontal unit-xs-vertical">
                            <div class="unit-left">
                                <div class="icon fa-phone icon-circle text-middle text-primary"></div>
                            </div>
                            <div class="unit-body">
                                <div class="text-italic">
                                    <a href="tel:980-237-8158">
                                        980-237-8158
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="offset-top-25 offset-sm-top-10 unit unit-xl-horizontal unit-lg-horizontal unit-md-horizontal unit-sm-horizontal unit-xs-vertical">
                            <div class="unit-left">
                                <div class="icon fa-envelope icon-circle text-middle text-primary"></div>
                            </div>
                            <div class="unit-body">
                                <div class="text-italic">
                                    <a href="mailto:info@staxcryo.com">
                                        info@staxcryo.com
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="offset-top-25 offset-sm-top-10 unit unit-xl-horizontal unit-lg-horizontal unit-md-horizontal unit-sm-horizontal unit-xs-vertical">
                            <div class="unit-left">
                                <div class="icon fa-map-marker icon-circle text-middle text-primary"></div>
                            </div>
                            <div class="unit-body">
                                <div class="text-italic">
                                    <a href="/contact">
                                        3722 South Tryon St, Charlotte, NC 28217
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shell footer-container footer-copyright">
            <div class="reveal-sm-flex range-sm-justify range-sm-reverse range-sm-middle">
                <div>
                    <ul class="list-inline list-inline-md">
                        <li>
                            <a href="https://www.instagram.com/explore/locations/236592078/stax/" 
                               class="icon fa-instagram icon-default"
                               target="_blank">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/StaxCharlotte" 
                               class="icon fa-facebook icon-default"
                               target="_blank">
                            </a>
                        </li>
                        <li>
                            |
                        </li>
                        <li>
                            <a href="http://www.staxcharlotte.com/" 
                               class="icon icon-default"
                               target="_blank">
                                <svg version="1.1" 
                                     id="stax-logo" 
                                     xmlns="http://www.w3.org/2000/svg" 
                                     xmlns:xlink="http://www.w3.org/1999/xlink" 
                                     x="0px" 
                                     y="0px"
                                     width="100px" 
                                     height="40px" 
                                     viewBox="0 0 500 130" 
                                     enable-background="new 0 0 500 105" 
                                     xml:space="preserve">
                                    <path fill="#FFFFFF" d="M83.934,52.417c-12.711-6.471-25.65-9.707-38.832-9.707c-8.759,0-15.467,1.025-20.123,3.077 c-4.658,2.054-6.986,4.894-6.986,8.524c0,3.787,2.485,6.552,7.458,8.285c3.552,1.265,9.354,2.132,17.404,2.606 c11.838,0.788,19.649,1.421,23.438,1.895c10.732,1.418,18.664,4.064,23.797,7.93c5.127,3.868,7.695,9.354,7.695,16.456 c0,9.077-4.027,16.101-12.076,21.071c-8.051,4.973-19.613,7.46-34.688,7.46c-21.861,0-38.87-4.814-51.022-14.444l7.812-10.299 c13.417,8.21,27.861,12.313,43.33,12.313c10.02,0,17.795-1.38,23.322-4.145c5.285-2.682,7.932-6.351,7.932-11.01 c0-5.444-3.473-9.074-10.418-10.891c-3.631-0.948-13.42-1.933-29.36-2.96c-14.128-0.947-24.03-2.84-29.713-5.682 c-6.63-3.315-9.944-8.88-9.944-16.693c0-8.049,3.767-14.4,11.305-19.06c7.538-4.654,18.171-6.983,31.904-6.983 c18.469,0,33.936,4.224,46.404,12.667L83.934,52.417z"></path>
                                    <path fill="#FFFFFF" d="M195.768,45.078h-40.961v72.924h-14.205V45.078H99.641V32.292h96.127V45.078z"></path>
                                    <path fill="#FFFFFF" d="M289.288,118.002h-15.539l-9.877-19.18h-57.732l-9.875,19.18h-15.535l45.34-85.71h17.877L289.288,118.002z M256.971,86.037l-21.832-41.526l-22.1,41.526H256.971z"></path>
                                    <path fill="#FFFFFF" d="M400,118.002h-18.473l-34.621-34.658l-34.418,34.658h-18.443l43.699-43.414l-42.176-42.296h18.484 l32.996,33.352l32.941-33.352h18.447l-42.17,42.217L400,118.002z"></path>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="offset-top-15 offset-sm-top-0">
                    <p>
                        &#169; {{ "now"|date("Y") }} 
                        <a href="/" class="brand-name">
                            <svg id="header-logo" 
                                     version="1.1" 
                                     id="Layer_1" 
                                     xmlns="http://www.w3.org/2000/svg" 
                                     xmlns:xlink="http://www.w3.org/1999/xlink" 
                                     x="0px" 
                                     y="0px"
                                     width="100px" 
                                     height="20px" 
                                     viewBox="0 0 800 95" 
                                     enable-background="new 0 0 800 95" 
                                     xml:space="preserve">
                                    <g>
                                        <g>
                                            <path fill="#FFFFFF" d="M90.417,63.514c-12.369-6.299-24.967-9.451-37.797-9.451c-8.525,0-15.057,1-19.588,2.996
                                                       c-4.535,1.999-6.799,4.764-6.799,8.299c0,3.685,2.418,6.375,7.26,8.062c3.457,1.232,9.104,2.076,16.939,2.537
                                                       c11.523,0.769,19.125,1.383,22.814,1.844c10.447,1.382,18.166,3.959,23.16,7.721c4.994,3.764,7.492,9.104,7.492,16.016
                                                       c0,8.837-3.92,15.672-11.752,20.512c-7.838,4.84-19.094,7.26-33.766,7.26c-21.277,0-37.834-4.686-49.662-14.059l7.604-10.024
                                                       c13.059,7.991,27.117,11.983,42.176,11.983c9.752,0,17.322-1.343,22.699-4.033c5.146-2.609,7.723-6.183,7.723-10.716
                                                       c0-5.301-3.383-8.833-10.141-10.601c-3.535-0.923-13.062-1.881-28.578-2.882c-13.754-0.922-23.391-2.765-28.922-5.53
                                                       c-6.455-3.227-9.68-8.643-9.68-16.248c0-7.836,3.666-14.019,11.002-18.553c7.338-4.53,17.688-6.797,31.057-6.797
                                                       c17.975,0,33.031,4.109,45.168,12.33L90.417,63.514z"/>
                                            <polygon fill="#FFFFFF" points="199.272,56.368 159.403,56.368 159.403,127.35 145.577,127.35 145.577,56.368 105.704,56.368 
                                                       105.704,43.924 199.272,43.924 		"/>
                                            <path fill="#FFFFFF" d="M290.3,127.35h-15.123l-9.613-18.668H209.37l-9.613,18.668h-15.123l44.131-83.426h17.402L290.3,127.35z
                                                        M258.847,96.237l-21.248-40.421l-21.514,40.421H258.847z"/>
                                            <polygon fill="#FFFFFF" points="398.067,127.35 380.085,127.35 346.388,93.615 312.886,127.35 294.935,127.35 337.472,85.092 
                                                       296.415,43.924 314.407,43.924 346.528,76.387 378.593,43.924 396.544,43.924 355.499,85.017 		"/>
                                        </g>
                                        <g>
                                            <path fill="#C6D6E3" d="M495.178,63.336c-8.444-9.397-20.702-14.165-36.501-14.165c-24.925,0-41.678,15.527-41.678,36.911
                                                       c0,19.885,16.889,35.139,41.678,35.139c16.207,0,28.057-4.357,36.501-13.893l7.491,4.631c-9.397,11.986-23.699,17.57-43.992,17.57
                                                       c-14.165,0-26.695-4.223-35.549-11.441c-10.215-8.308-15.526-19.477-15.526-32.96c0-13.211,5.176-24.244,15.663-32.688
                                                       c8.989-7.218,21.52-11.577,35.412-11.577c19.067,0,34.73,6.946,44.537,19.34L495.178,63.336z"/>
                                            <path fill="#C6D6E3" d="M597.057,127.35l-26.423-33.777H525.96v33.777h-8.853V43.587h63.877c15.936,0,26.015,9.807,26.015,25.197
                                                       c0,13.892-8.717,23.018-24.517,24.652l25.334,33.913H597.057z M597.192,68.512c0-11.032-6.401-16.344-19.477-16.344H525.96v32.824
                                                       h54.479C591.063,84.992,597.192,78.999,597.192,68.512z"/>
                                            <path fill="#C6D6E3" d="M654.261,93.709v33.641h-8.853V93.709l-42.495-50.122h10.896l35.82,41.541l35.82-41.541h11.032
                                                       L654.261,93.709z"/>
                                            <path fill="#C6D6E3" d="M775.616,118.361c-8.989,7.219-21.52,11.44-35.685,11.44c-14.028,0-26.559-4.358-35.548-11.577
                                                       c-10.352-8.444-15.663-19.477-15.663-32.96c0-13.211,5.312-24.38,15.799-32.824c8.989-7.354,21.656-11.713,35.412-11.713
                                                       s26.423,4.358,35.412,11.713c10.487,8.444,15.936,19.613,15.936,32.824C791.279,98.748,785.967,109.916,775.616,118.361z
                                                        M739.932,49.171c-24.788,0-41.677,15.663-41.677,37.182c0,20.021,16.479,34.867,41.677,34.867s41.813-14.846,41.813-35.139
                                                       C781.745,64.834,764.72,49.171,739.932,49.171z"/>
                                        </g>
                                    </g>
                                </svg>
                        </a>
                        |
                        <a href="/disclaimer">
                            Disclaimer
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>