
        <section class="section-top-40 section-bottom-80">
          <div class="shell text-md-left">
            <h3 class="text-center">Book an appointment</h3>
            <div class="range range-xs-center">
              <div class="cell-md-8">
                <!-- RD Calendar-->
                <div id="chapters-select" class="rd-calendar">
                  <div class="rdc-panel text-center"><a class="rdc-prev"></a><span class="rdc-month"></span><span> </span><span class="rdc-fullyear"></span><a class="rdc-next"></a></div>
                  <div class="rdc-table"></div>
                  <div class="rdc-events"><a class="rdc-events_close"></a>
                    <ul class="list-unstyled">
                      <li data-date="09/09/2016" class="rdc-event">
                        <h4><span class="text-extra-bold">September 9,</span><span> 2016</span></h4><a href="#" data-toggle="modal" data-target="#appointment" class="btn-block btn btn-primary">9:00am – 9:20am</a>
                        <div class="offset-top-10"><a href="#" data-toggle="modal" data-target="#appointment" class="btn-block btn btn-primary">10:00am – 10:20am</a></div>
                        <div class="offset-top-10"><a href="#" data-toggle="modal" data-target="#appointment" class="btn-block btn btn-primary">11:00am – 11:20am</a></div>
                        <div class="offset-top-10"><a href="#" data-toggle="modal" data-target="#appointment" class="btn-block btn btn-primary">12:00am – 13:20am</a></div>
                        <div class="offset-top-10"><a href="#" data-toggle="modal" data-target="#appointment" class="btn-block btn btn-primary">14:00am – 15:20am</a></div>
                      </li>
                      <li data-date="08/09/2016" class="rdc-event">
                        <h4><span class="text-extra-bold">August 9,</span><span> 2016</span></h4><a href="#" data-toggle="modal" data-target="#appointment" class="btn-block btn btn-primary">9:00am – 9:20am</a>
                        <div class="offset-top-10"><a href="#" data-toggle="modal" data-target="#appointment" class="btn-block btn btn-primary">10:00am – 10:20am</a></div>
                        <div class="offset-top-10"><a href="#" data-toggle="modal" data-target="#appointment" class="btn-block btn btn-primary">11:00am – 11:20am</a></div>
                        <div class="offset-top-10"><a href="#" data-toggle="modal" data-target="#appointment" class="btn-block btn btn-primary">12:00am – 13:20am</a></div>
                        <div class="offset-top-10"><a href="#" data-toggle="modal" data-target="#appointment" class="btn-block btn btn-primary">14:00am – 15:20am</a></div>
                      </li>
                      <li data-date="07/09/2016" class="rdc-event">
                        <h4><span class="text-extra-bold">July 9,</span><span> 2016</span></h4><a href="#" data-toggle="modal" data-target="#appointment" class="btn-block btn btn-primary">9:00am – 9:20am</a>
                        <div class="offset-top-10"><a href="#" data-toggle="modal" data-target="#appointment" class="btn-block btn btn-primary">10:00am – 10:20am</a></div>
                        <div class="offset-top-10"><a href="#" data-toggle="modal" data-target="#appointment" class="btn-block btn btn-primary">11:00am – 11:20am</a></div>
                        <div class="offset-top-10"><a href="#" data-toggle="modal" data-target="#appointment" class="btn-block btn btn-primary">12:00am – 13:20am</a></div>
                        <div class="offset-top-10"><a href="#" data-toggle="modal" data-target="#appointment" class="btn-block btn btn-primary">14:00am – 15:20am</a></div>
                      </li>
                      <li data-date="10/09/2016" class="rdc-event">
                        <h4><span class="text-extra-bold">October 9,</span><span> 2016</span></h4><a href="#" data-toggle="modal" data-target="#appointment" class="btn-block btn btn-primary">9:00am – 9:20am</a>
                        <div class="offset-top-10"><a href="#" data-toggle="modal" data-target="#appointment" class="btn-block btn btn-primary">10:00am – 10:20am</a></div>
                        <div class="offset-top-10"><a href="#" data-toggle="modal" data-target="#appointment" class="btn-block btn btn-primary">11:00am – 11:20am</a></div>
                        <div class="offset-top-10"><a href="#" data-toggle="modal" data-target="#appointment" class="btn-block btn btn-primary">12:00am – 13:20am</a></div>
                        <div class="offset-top-10"><a href="#" data-toggle="modal" data-target="#appointment" class="btn-block btn btn-primary">14:00am – 15:20am</a></div>
                      </li>
                      <li data-date="11/09/2016" class="rdc-event">
                        <h4><span class="text-extra-bold">November 9,</span><span> 2016</span></h4><a href="#" data-toggle="modal" data-target="#appointment" class="btn-block btn btn-primary">9:00am – 9:20am</a>
                        <div class="offset-top-10"><a href="#" data-toggle="modal" data-target="#appointment" class="btn-block btn btn-primary">10:00am – 10:20am</a></div>
                        <div class="offset-top-10"><a href="#" data-toggle="modal" data-target="#appointment" class="btn-block btn btn-primary">11:00am – 11:20am</a></div>
                        <div class="offset-top-10"><a href="#" data-toggle="modal" data-target="#appointment" class="btn-block btn btn-primary">12:00am – 13:20am</a></div>
                        <div class="offset-top-10"><a href="#" data-toggle="modal" data-target="#appointment" class="btn-block btn btn-primary">14:00am – 15:20am</a></div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal-->
            <div id="appointment" role="dialog" class="modal fade text-left">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content inset-md-left-30 inset-md-right-30">
                  <div class="modal-header">
                    <button type="button" data-dismiss="modal" class="close"><span class="icon icon-light icon-xxs fa-close text-primary"></span></button>
                    <div class="modal-title border-bottom">Request Appointment</div>
                  </div>
                  <div class="modal-body">
                    <h6 class="text-gray-light">Custom Calendar One</h6>
                    <p>Please review and confirm that you would like to request the following appointment:</p>
                    <div class="form-group"><span><span class="icon icon-primary fa-calendar inset-right-5"></span><span class="text-gray-lighter text-italic">  May 26, 2016</span></span><span class="inset-left-20"><span class="icon icon-primary fa-clock-o inset-right-5"></span><span class="text-gray-lighter text-italic">  10:00 am</span></span></div>
                    <hr class="divider">
                    <!-- RD Mailform-->
                    <form data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php" class="rd-mailform text-left">
                      <div>
                        <div class="reveal-xs-inline-block radio">
                          <label>
                            <input type="radio" name="optradio" value="login"><span class="text-primary">I am a current customer</span>
                          </label>
                        </div>
                        <div class="reveal-xs-inline-block radio inset-xs-left-20">
                          <label>
                            <input type="radio" name="optradio" value="register" checked="checked"><span class="text-primary">I am a new customer</span>
                          </label>
                        </div>
                      </div>
                      <hr class="divider offset-top-15">
                      <div class="register-form">
                        <h6><span class="text-gray-light">Registration</span><span class="text-primary"> *</span></h6>
                        <p>Your first name and an email address are required.</p>
                        <!-- Login form-->
                        <div class="offset-10">
                          <div class="form-group">
                            <label for="name-2" class="form-label">First name *</label>
                            <input id="name-2" type="text" name="name" data-constraints="@Required" class="form-control">
                          </div>
                          <div class="form-group">
                            <label for="name-3" class="form-label">Latest name</label>
                            <input id="name-3" type="text" name="name2" class="form-control">
                          </div>
                          <div class="form-group">
                            <label for="email" class="form-label">Your e-mail *</label>
                            <input id="email" type="text" name="email" data-constraints="@Required @Email" class="form-control">
                          </div>
                          <div class="offset-top-25">
                            <h6><span class="text-gray-light">Custom Text Field:</span></h6>
                          </div>
                          <div class="form-group offset-top-25">
                            <label for="text2" class="form-label">Text</label>
                            <input id="text2" type="text" name="text22" class="form-control">
                          </div>
                          <div class="offset-top-25">
                            <h6><span class="text-gray-light">Custom Checkboxes:</span></h6>
                          </div>
                          <div class="form-group">
                            <label class="checkbox-inline">
                              <input name="input-group-radio" value="checkbox-1" type="checkbox" checked><span class="text-primary">First Checkbox</span>
                            </label>
                          </div>
                          <div class="form-group offset-top-10">
                            <label class="checkbox-inline">
                              <input name="input-group-radio" value="checkbox-2" type="checkbox"><span class="text-primary">First Checkbox</span>
                            </label>
                          </div>
                          <div class="form-group offset-top-10">
                            <label class="checkbox-inline">
                              <input name="input-group-radio" value="checkbox-2" type="checkbox"><span class="text-primary">Third Checkbox</span>
                            </label>
                          </div>
                          <div class="form-group-btn offset-top-50">
                            <button type="submit" class="btn btn-primary">Request Appointment</button>
                          </div>
                        </div>
                      </div>
                    </form>
                    <div class="login-form">
                      <h6><span class="text-gray-light">Login</span></h6>
                      <!-- Login form-->
                      <form class="offset-10">
                        <div class="form-group">
                          <label for="name" class="form-label">Username or e-mail</label>
                          <input id="name" type="text" name="name" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="password" class="form-label">Password</label>
                          <input id="password" type="password" name="password" class="form-control">
                        </div>
                        <div class="form-group-btn offset-top-50">
                          <button type="submit" class="btn btn-primary">Enter</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>