<section class="section-50 section-md-bottom-95">
    <div class="shell">
        <div class="range range-xs-center">
            <div class="cell-sm-6 cell-md-3 reveal-md-flex flex-direction-column">
                <a href="/benefits/weight-loss" 
                   class="thumbnail-custom">
                    <img src="/images/photo-1.jpg" 
                         width="270" 
                         height="270" 
                         alt="Cryotherapy for Weight Loss" 
                         class="img-responsive"/>
                </a>
                <h4 class="text-light">
                    <a href="/benefits/weight-loss">
                        Weight Loss
                    </a>
                </h4>
                <p class="offset-botom-20">
                    Combined with a balanced diet and a steady workout plan 
                    Cryotherapy for weight loss can help to burn additional 
                    calories in just a single three-minute treatment.
                </p>
                <div class="offset-top-auto">
                    <a href="/benefits/weight-loss" class="btn btn-primary">
                        Read more
                    </a>
                </div>
            </div>
            <div class="cell-sm-6 cell-md-3 reveal-md-flex flex-direction-column offset-top-60 offset-sm-top-0">
                <a href="/benefits/beauty-and-anti-aging" 
                   class="thumbnail-custom">
                    <img src="/images/photo-2.jpg" 
                         width="270" 
                         height="270" 
                         alt="Cryotherapy for Beauty and Anti-Aging" 
                         class="img-responsive"/>
                </a>
                <h4 class="text-light">
                    <a href="/benefits/beauty-and-anti-aging">
                        Beauty &amp; Anti-Aging
                    </a>
                </h4>
                <p class="offset-botom-20">
                    Cryotherapy is an ultra-cold treatment designed to shock 
                    the body into action by revving up blood circulation and 
                    boosting the immune and central nervous systems.
                </p>
                <div class="offset-top-auto">
                    <a href="/benefits/beauty-and-anti-aging" 
                       class="btn btn-primary">
                        Read more
                    </a>
                </div>
            </div>
            <div class="cell-sm-6 cell-md-3 reveal-md-flex flex-direction-column offset-top-60 offset-md-top-0">
                <a href="/benefits/recovery" 
                   class="thumbnail-custom">
                    <img src="/images/photo-3.jpg" 
                         width="270" 
                         height="270" 
                         alt="Cryotherapy for Recovery" 
                         class="img-responsive"/>
                </a>
                <h4 class="text-light">
                    <a href="/benefits/recovery">
                        Recovery
                    </a>
                </h4>
                <p class="offset-botom-20">
                    Cold therapy has been used for many years to help athletes 
                    soothe aching muscles and boost their recovery. Many 
                    athletes, professional, amateur, and regular exercisers 
                    are now turning to Cryotherapy to help them to recover faster.
                </p>
                <div class="offset-top-auto">
                    <a href="/benefits/recovery" 
                       class="btn btn-primary">
                        Read more
                    </a>
                </div>
            </div>
            <div class="cell-sm-6 cell-md-3 reveal-md-flex flex-direction-column offset-top-60 offset-md-top-0">
                <a href="/benefits/wellness" 
                   class="thumbnail-custom">
                    <img src="/images/photo-4.jpg" 
                         width="270" 
                         height="270" 
                         alt="Cryotherapy for Wellness" 
                         class="img-responsive"/>
                </a>
                <h4 class="text-light">
                    <a href="/benefits/wellness">
                        Wellness
                    </a>
                </h4>
                <p class="offset-botom-20">
                    Health and Wellness go hand in hand, but taking care of 
                    one’s body encompasses more than the food we consume and 
                    the lifestyle we lead.
                </p>
                <div class="offset-top-auto">
                    <a href="/benefits/wellness" 
                       class="btn btn-primary">
                        Read more
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>