<section class="hero" 
                 style="background-image:url('/images/benefits-backround.jpg'); height:750px;">
                <div class="swiper-slide">
                    <div class="swiper-slide-caption">
                        <div class="shell section-25">
                            <h1 class="text-primary jo">BENEFITS OF CRYOTHERAPY</h1>
                            <h4 class="text-gray-light text-regular jo">
                                Cryotherapy is an innovative treatment, utilising 
                                age-old science combined with cutting-edge equipment. 
                                The many benefits of Cryotherapy can include weight 
                                loss, athletic recovery and overall wellness.
                            </h4>
                        </div>
                    </div>
                </div>
        </section>