{% extends 'layout/base.twig' %}

{% block body %}
<div class="page text-center">
    {% include 'layout/header.twig' %}
    <main class="page-content">
    {% include 'benefits/hero.html.twig' %}
    {% include 'benefits/content.html.twig' %}
    </main>
{% endblock %}