{% extends 'layout/base.twig' %}

{% block body %}
<div class="page text-center">
    {% include 'layout/header.twig' %}
    <!-- Page Content-->
    <main class="page-content">
        <section class="hero"
            style="background-image:url('/images/recovery.jpg'); height:750px;">
            <div class="swiper-slide">
              <div class="swiper-slide-caption">
                <div class="shell section-25">
                    <h1 class="text-primary">
                        RECOVERY
                    </h1>
                    <h4 class="text-gray-light veil reveal-sm-block text-regular">
                        Designed to soothe sore muscles and promote healthy cell regeneration.
                    </h4>
                    <p>
                        Cold therapy has been used for many years to help athletes soothe aching muscles and boost their recovery. Many athletes, professional and amateur, and regular exercisers are now turning to Cryotherapy to help them to recover faster. Our innovative treatments are designed to target the muscles, helping to boost blood flow and reduce inflammation, with CRYO you can train harder, for longer and recover quickly to help you achieve maximum results from your workouts.
                    </p>
                    <br />
                    <p>
                        <strong>Fatigue Resistance -</strong><br/>
                        With multiple Cryotherapy sessions you can train your muscles to delay the onset of fatigue, helping you improve your performance whenever you exercise.
                    </p>
                    <p>
                        <strong>Blood Flow -</strong><br/>
                        Boosts oxygenated blood in the body helping to improve the body’s circulation and relieve aching muscles post-workout.
                    </p>
                    <p>
                        <strong>Reduced Swelling -</strong><br/>
                        Cold therapy is known to reduce the swelling of muscles post-exercise, with Cryotherapy targeting the whole body you can recover faster and push harder in your next session.
                    </p>
                    <p>
                        <strong>Joint Strength -</strong><br />
                        With Cryotherapy penetrating the skin, the cooling air targets the body’s joints helping to reduce fatigue and wear and increase strength and flexibility.
                    </p>
                </div>
              </div>
            </div>
        </section>
    </main>
  {% endblock %}