{% extends 'layout/base.twig' %}

{% block body %}
<div class="page text-center">
    {% include 'layout/header.twig' %}
    <!-- Page Content-->
    <main class="page-content">
        <section class="hero"  
            style="background-image:url('/images/wellness.jpg'); height:750px;">
            <div class="swiper-slide">
              <div class="swiper-slide-caption">
                <div class="shell section-25">
                    <h1 class="text-primary">
                        WELLNESS
                    </h1>
                    <h4 class="text-gray-light veil reveal-sm-block text-regular">
                        Cryotherapy is the next generation health &amp; wellness partner
                    </h4>
                    <p>
                        Health and Wellness go hand in hand, but taking care of one’s body encompasses more than the food we consume and the lifestyle we lead. Nowadays many people are looking for ways to boost their health naturally and maintain their overall Wellness and many people are turning to Cryotherapy to help, with our soothing treatments exposing clients to temperatures reaching -180°C we are becoming a key part of many daily and weekly routines.
                    </p>
                    <br />
                    <p>
                        Our clients choose to add Cryotherapy to their routines for different reasons, and the results achieved may vary based on the individual however some of the more common benefits of Cryotherapy can include…
                    </p>
                    <br />
                    <ul>
                        <li>
                            - Natural pain relief method
                        </li>
                        <li>
                            - Decreases inflammation
                        </li>
                        <li>
                            - Boosts production of endorphines
                        </li>
                        <li>
                            - Reduces stress and anxxiety
                        </li>
                        <li>
                            - Improves immune system and organ function
                        </li>
                    </ul>
                </div>
              </div>
            </div>
        </section>
    </main>
  {% endblock %}