{% extends 'layout/base.twig' %}

{% block body %}
<div class="page text-center">
  {% include 'layout/header.twig' %}
  <!-- Page Content-->
<main class="page-content">
    <section class="bg-alabaster section-60 section-md-top-80 section-md-bottom-90">
        <div class="shell">
            <h3 class="text-center">What our patients say</h3>
            <div class="range range-xs-center offset-top-35">
                <div class="cell-xs-8 cell-sm-4">
                    <blockquote class="quote quote-variant-1"><img src="/images/photo-1.png" width="116" height="116" alt="" class="img-responsive img-circle">
                        <p>
                            <q>I urgently required dental help last 4th of July. And despite all other clinics being closed, BeDentist took my appointment!</q>
                        </p>
                        <div>
                            <cite class="text-extra-bold text-gray-light">Herbert Wallace</cite>
                            <time datetime="2016-04-30" class="text-gray-lighter text-italic"> – May 10, 2016</time>
                        </div>
                    </blockquote>
                </div>
                <div class="cell-xs-8 cell-sm-4 offset-top-60 offset-sm-top-0">
                    <blockquote class="quote quote-variant-1"><img src="/images/photo-2.png" width="116" height="116" alt="" class="img-responsive img-circle">
                        <p>
                            <q>Comparing teeth whitening prices here and elsewhere, I picked BeDentist. The result was beyond my expectations!</q>
                        </p>
                        <div>
                            <cite class="text-extra-bold text-gray-light">Gary Growles</cite>
                            <time datetime="2016-04-30" class="text-gray-lighter text-italic"> – May 10, 2016</time>
                        </div>
                    </blockquote>
                </div>
                <div class="cell-xs-8 cell-sm-4 offset-top-60 offset-sm-top-0">
                    <blockquote class="quote quote-variant-1"><img src="/images/test-3.png" width="116" height="116" alt="" class="img-responsive img-circle">
                        <p>
                            <q>Taking my kids to a dentist has never been easier. They just loved the welcoming and warm atmosphere in there!</q>
                        </p>
                        <div>
                            <cite class="text-extra-bold text-gray-light">Daniela Robbery</cite>
                            <time datetime="2016-04-30" class="text-gray-lighter text-italic"> – May 10, 2016</time>
                        </div>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-white section-50 section-md-top-80 section-md-bottom-90">
            <div class="shell">
                
                <h3 class="text-center text-primary">FAQ</h3>
                <div class="range range-md-middle">
                    <p class="text-bold text-left">
                        How does whole body Cryotherapy work?
                    </p>
                    <p>
                        Whole body Cryotherapy safely lowers your skin temperature for a 
                        period of up to three minutes.  Stepping into a CRYO Sauna, your 
                        body is briefly enveloped with extremely cold air, with temperatures 
                        ranging between -140°C and -180°C. When you step out of the CRYO 
                        Sauna, your skin temperature returns to normal levels.
                    </p>
                    <br />
                    <p class="text-bold text-left">
                        What is a CRYO Sauna?
                    </p>
                    <p>
                        A CRYO Sauna is a metal chamber that is open on the top and equipped 
                        with a door and a platform that adjusts to your height. The sauna 
                        uses cryogenically cooled air to create icy cold air that quickly 
                        lowers your skin’s temperature in less than 60 seconds. For the 
                        three minutes you slowly turn while in the cabin so that the subzero 
                        air evenly envelops your body.
                    </p>
                    <br />
                    <p class="text-bold text-left">
                        Is Cryotherapy dangerous?
                    </p>
                    <p>
                        Cryotherapy treatments are not dangerous, the liquid 
                        nitrogen that is used as a chilling agent does not come 
                        into contact with your skin. A trained operator is 
                        always present during the treatment so to control the 
                        temperature levels and monitor your comfort.
                    </p>
                    <br />
                    <p class="text-bold text-left">
                        Are there any reasons why I shouldn’t do a Cryotherapy session?
                    </p>
                    <p>
                        Anyone who has unmanaged hypertension or a pacemaker, 
                        has a history of or is being treated for cancer, has 
                        deep vein thrombosis, has a cold allergy, or is pregnant 
                        should not use cryotherapy. If you have questions about 
                        whether you have any risk, you should first ask your 
                        healthcare provider before using a CRYO Sauna.
                    </p>
                    <br />
                    <p class="text-bold text-left">
                        Is it comfortable?
                    </p>
                    <p>
                        Our treatments are limited to three minutes, this gives 
                        you the the optimal level of exposure to see maximum 
                        impact but also ensures that you are comfortable with 
                        the temperature changes. Describing the feeling of a 
                        CRYO Sauna treatment is like standing naked in front 
                        of a freezer on a hot day.
                    </p>
                    <br />
                    <p class="text-bold text-left">
                        How long does a Cryotherapy session last?
                    </p>
                    <p>
                        Most of our treatments last for three minutes, however 
                        some of our NormaTec and Skincare treatments can last 
                        up to 60 minutes depending on your requirements.
                    </p>
                    <br />
                    <p class="text-bold text-left">
                        I’m claustrophobic. Can I still use the CRYO Sauna?
                    </p>
                    <p>
                        Our CRYO Sauna’s are open at the top and the foot plate 
                        height is adjusted to fit the height of the client, 
                        your head and neck are always above the opening so that 
                        you are not totally enveloped. The CRYO Sauna is also 
                        equipped with a door that is closed but not locked, so 
                        you are always in control whilst in the chamber.
                    </p>
                    <br />
                    <p class="text-bold text-left">
                        What do I wear during my treatment?
                    </p>
                    <p>
                        Due to the extremely low temperatures that the body is 
                        exposed to our clients must wear foot and hand 
                        protection, plus either undergarments or a bathing 
                        suit to protect intimate body parts. All other 
                        clothing is removed, leaving the cooling air to 
                        penetrate the skin.
                    </p>
                    <br />
                    <p class="text-bold text-left">
                        Do I shower before or after my treatment?
                    </p>
                    <p>
                        Neither is necessary, our treatments are completely dry. 
                        However, many of our clients use CRYO after a workout, 
                        which could be before they shower or after they shower.
                    </p>
                    <br />
                    <p class="text-bold text-left">
                        How soon after my treatment can I expect results?
                    </p>
                    <p>
                        Results can vary dependent on the individual and CRYO 
                        can not guarantee that any of our clients will see 
                        specific results, however we can tell you that you’ll 
                        likely feel great right away because after completing 
                        your first treatment. Usually our clients experience a 
                        release of endorphins, the body’s natural mood elevator, 
                        a lift that can last for several hours. Depending on 
                        your physical condition, you may feel immediate relief 
                        from joint and muscle pain, improved energy, and 
                        increased flexibility that can last for several 
                        hours or even days.
                    </p>
                    <p>
                        *Results may vary based on the individual.
                    </p>
                    <br />
                    <p class="text-bold text-left">
                        Is one CRYO treatment enough?
                    </p>
                    <p>
                        Whilst every CRYO session can be beneficial, we 
                        recommend our clients consider one of our packages 
                        containing 10-20 sessions over the course of a month. 
                        As a maintenance program, we suggest that the series be 
                        repeated every three months. Professional athletes will 
                        often have up to two sessions a day to help achieve 
                        peak performance.
                    </p>
                    <br />
                    <p class="text-bold text-left">
                        How does CRYO Glow Facial work?
                    </p>
                    <p>
                        CRYO Glow Facials use similar technology to WBC. 
                        Applications of cold temperatures to the surface of the 
                        face are however a lot more relaxing. CRYO Glow Facials 
                        help to close the pores on our face and in the process 
                        can tighten the skin. During a treatment the surface 
                        temperature of your skin will drop to around 7-8 degrees 
                        celsius, a process that in some cases increases the 
                        production of healthy collagen. The application of 
                        the CRYO Glow Facial takes around 10 minutes.
                    </p>
                    <br />
                    <p class="text-bold text-left">
                        *Results may vary based on the individual.
                    </p>
                    <br />
                </div>
            </div>
    </section>
</main>
{% endblock %}