<section class="hero"  
               style="background-image:url('/images/beauty-anti-aging.jpg'); min-height:750px;">
        <div class="swiper-slide">
          <div class="swiper-slide-caption">
            <div class="shell section-25">
                <div class="ep-top-bottom-50">
                    <h1 class="text-primary jo">
                        BEAUTY &amp; <br class="hidden-sm hidden-md hidden-lg"/> ANTI-AGING
                    </h1>
                    <h4 class="text-gray-light veil reveal-sm-block jo">
                        CRYO can help maintain that youthful appearance.
                    </h4>
                    <p class="jo em-top-20">
                        When exposed to cold temperatures, the blood vessels constrict to help maintain body temperature. When you warm up, these dilate and blood rushes to the skin’s surface, giving the ­complexion a glow. The cold can also open up the pores allowing deeper penetration of moisturisers. Cryotherapy is an ultra-cold treatment designed to shock the body into action by revving up blood circulation and boosting the immune and central nervous systems. With many people turning to cryotherapy for anti-aging across the world, our treatments are helping to reduce the signs of ageing and maintain a youthful appearance.
                    </p>
                    <br />
                    <p class="jo">
                        Many of our clients use cryotherapy to fight the signs of Anti-aging and whilst results do vary based on the individual some of the more common benefits of a °CRYO weight loss treatment include…
                    </p>
                    <br />
                    <ul>
                        <li>
                            - Reduce fine lines and wrinkles
                        </li>
                        <li>
                            - Promotes smooth complextion
                        </li>
                        <li>
                            - Flushes toxins and revitalises skin
                        </li>
                        <li>
                            - Increases oxygenated blood
                        </li>
                    </ul>
                </div>
            </div>
          </div>
        </div>
    </section>