<section class="section-60 section-md-top-80 section-md-bottom-90">
    <div class="shell">
        <div class="range range-xs-center offset-top-35">
            <div class="cell-xs-8 cell-sm-4">
                <!-- Contact Information -->
                <h4 class="text-primary jo jo-contact-us">
                    Address
                </h4>
                <p>
                    3722 South Tryon St, Charlotte, NC 28217
                </p>
                <h4 class="text-primary jo jo-contact-us">
                    Phone
                </h4>
                <p>
                    980-237-8158
                </p>
                <h4 class="text-primary jo jo-contact-us">
                    E-mail
                </h4>
                <p>
                    info@staxcryo.com
                </p>
                <h4 class="text-primary jo jo-contact-us">
                    Opening hours
                </h4>
                <p>
                    Monday-Friday: 9am-6pm
                </p>
                <p>
                    Sat &amp; Sun: 9am-1pm
                </p>
                <a href="https://go.booker.com/#/location/StaxCryo" 
                   class="btn btn-primary col-xs-12 col-sm-10"
                   target="_blank" style="margin-bottom:50px;">Book an Appointment</a>
            </div>
            <div class="cell-xs-16 cell-sm-8">
                <!--contact form-->
                <form id="form-contact">
                    <h4 class="text-primary jo jo-contact-us">
                        Contact form
                    </h4>
                    <div class="form-group">
                      <input type="name" name="name" class="form-control" id="name" placeholder="Name*" required>
                    </div>
                    <div class="form-group">
                      <input type="email" name="email" class="form-control" id="email" placeholder="Email*" required>
                    </div>
                    <div class="form-group">
                      <input type="subject" name="subject" class="form-control" id="subject" placeholder="Subject*">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="message" name="message" rows="5" placeholder="Message*"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0">Send</button>
                </form>
            </div>
        </div>
    </div>
</section>
<script src="{{ asset('js/contact.js') }}"></script>