<section class="hero" 
               style="background-image:url('/images/benefits-weight-loss.jpg'); min-height:750px;">
    <div class="swiper-slide">
      <div class="swiper-slide-caption">
        <div class="shell section-25">
            <div class="ep-top-bottom-50">
                <h1 class="text-primary jo em-top-20">
                    WEIGHT LOSS
                </h1>
                <h4 class="text-gray-light veil reveal-sm-block jo">
                    The next generation weight loss partner
                </h4>
                <p class="text-dark jo em-top-20">
                    Combined with a balanced diet and a steady workout plan Cryotherapy for weight loss can help to burn additional calories in just a single three-minute treatment, with some of our clients experiencing additional caloric burn after a treatment, however the results may vary based on the individual. Cryotherapy for weight loss is the latest trend combining cutting-edge technology and science to help people lose weight naturally. Our non-invasive procedures can help stimulate blood-flow throughout the body and boost the delivery of oxygenated blood, in cases helping to increase your metabolic rate and shed those excess pounds.
                </p>
                <br />
                <p class="text-dark jo">
                    Cryotherapy is widely used amongst our client base to stimulate weight loss, usually added as part of an ongoing routine including maintaining a healthy diet and regular workouts some of our clients have seen significant increases in weight loss when adding Cryotherapy to their routine. Whilst the results may vary based on the individual some of the more common benefits of Cryotherapy for weight loss include…
                </p>
                <br />
                <ul class="text-dark">
                    <li>
                        - Increased caloric burn
                    </li>
                    <li>
                        - Encourage additional fat loss
                    </li>
                    <li>
                        - Boost your metabolic rate
                    </li>
                    <li>
                        - Flush toxins and burn fast
                    </li>
                </ul>
            </div>
        </div>
      </div>
    </div>
</section>