{% extends 'layout/base.twig' %}

{% block body %}
<div class="page text-center">
  {% include 'layout/header.twig' %}
  <main class="page-content">
  {% include 'benefits/weight-loss/hero.html.twig' %}   
  </main>
  {% endblock %}