{% extends 'layout/base.twig' %}

{% block body %}
<div class="page text-center">
    {% include 'layout/header.twig' %}
    <!-- Page Content-->
    <main class="page-content">
        {% include 'benefits/wellness/hero.html.twig' %}
    </main>
  {% endblock %}