<section class="hero" 
             style="background-image:url('/images/medical-studies.jpg'); height:750px;">
    <div class="swiper-slide">
      <div class="swiper-slide-caption">
        <div class="shell section-25">
            <h1 class="text-primary text-dark jo">
                MEDICAL STUDIES
            </h1>
            <h4 class="text-gray-light text-regular jo">We’re backing up our services with cold, hard facts about cryotherapy and the medical benefits
                  of our cryotherapy treatments. With more and more people turning to cryotherapy to help them in their
                  everyday lives with; anti-aging, beauty, athletic recovery and health & wellness, 
                 Dr. Freeze our in-house cryotherapy doctor has been busy gathering evidence to support our treatments!
            </h4>
        </div>
      </div>
    </div>
</section>